<!DOCTYPE html>
<html lang="en">
<head>
    <title>介贷网后台管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/Public/css/fullcalendar.css" />
    <link rel="stylesheet" href="/Public/css/matrix-style.css" />
    <link rel="stylesheet" href="/Public/css/matrix-media.css" />
    <link rel="stylesheet" href="/Public/css/uniform.css" />
    <link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Public/css/jquery.gritter.css" />
    <style type="text/css">
        .table th,.table td {text-align:left}
    </style>

</head>
<body>

<!--Header-part-->
<include file="Index:menu" />
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom">菜单管理</a> <a href="#" class="current">菜单列表</a> </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">

            <div class="span11"><a href="/{$Think.MODULE_NAME}/Column/add_index/" class="btn btn-success btn" style="float: right;">新增栏目</a>
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>栏目设置</h5>
                    </div>
                    <div class="widget-content ">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
                                <th style="width:40%;">栏目名</th>
                                <th>栏目简码</th>
                                <th>排序</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <volist name="collist" id="vs">
                                <tr>
                                    <td>{$vs.name}</td>
                                    <td>{$vs.tpcode}</td>
                                    <td>{$vs.sort}</td>
                                    <td>{$vs.status}</td>
                                    <td>
                                        <a href="/{$Think.MODULE_NAME}/Column/edit_index/u/{$vs.id}/o/edit/" class="btn btn-primary btn-mini">修改</a> |
                                        <a href="/{$Think.MODULE_NAME}/Column/col_del/u/{$vs.id}" class="btn btn-danger btn-mini" onclick= "if(confirm('是否确定删除{$vs.name}!')==false)return  false; ">删除</a>

                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div></div>
    <!--end-main-container-part-->

    <!--Footer-part-->
    <include file="Index:foot" />
    <!--end-Footer-part-->


    <script src="/Public/js/jquery.min.js"></script>
    <script src="/Public/js/client.js"></script>
    <script src="/Public/js/matrix.js"></script>
    <script src="/Public/js/timepicker/WdatePicker.js"></script>
    <script src="/Public/js/base.js"></script>


</body>
</html>
