<!doctype html>
<html>
        <head>
        <meta>
        <title>系统信息提示</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="css/public.css">
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <script src="js/jquery.min.js"></script>
        <script type="text/javascript">
           var time = 5;
           function jumpUrl(){
                time --;
                document.getElementById('spanTime').innerHTML = time;
                if(time<1){
                    window.location.href = "{$jumpUrl}";
                }else{
                    setTimeout("jumpUrl()",1000);
                }

           }
        </script>
        </head>
<body onload="jumpUrl()">
        <div class="appBody">
        <div class="main-new flex1" >
        <h2 class="f40px color-red1 text-center pt20 pb20 mt30">{$message}</h2>
         <div class="ml15 mr15 mt10 f28px line-h50">
            <p>页面将在<span id="spanTime">i</span>秒内跳转,未跳转请<a href="{$jumpUrl}">点击此处</a></p>
            <p>兑换时间：<span><?php echo date('Y-m-d H:i:s')?></span></p>
        </div>
        </div>
        <div class="text-center pt10 pb10"><img src="/Public/images/logo.png" style="width:2.20rem"></div>
        </div>
</body>
</html>