<html>
		<head>
        <meta>
        <title>绑定商家</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="/Public/css/public.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/base.css">
        <script src="/Public/js/jquery.min.js"></script>
        <body>
		<div class="appBody">
        <div class="main-new flex1" >
        <div class="bingd-box ml15 mr15 pos-r">
        <input type="text" placeholder="请输入商家号" class="pl10 pr10 bradius3 f32px" id="shangjh"/>
        <div class="clearfix bingd-btn mt20 f32px text-center"><span class=" sure bradius3" onClick="bdsure()">确定</span></div>
        </div>
        </div>
        <div class="footer pt15 pb15  f30px">
        <p class="pl15 pr15 f30px text-center color-b2">免费服务热线：4008837997</p></div>
        </div>
        </div>
        <script>
		
		 var isInit = false; 
		  function bdsure(){
		  var inputv=$("#shangjh").val();	
			if (!isInit) { 
		var erbox="<div class='er-box pl15 pr15'></div>"
		$("body").append(erbox)	;
		isInit = true;
			 }
			if(inputv=="")
			{   
				$(".er-box").fadeIn();
				$(".er-box").html("请输入商家号");
				}
			else if(inputv!="222")	
			{
				$(".er-box").html("");
				$(".er-box").html("您输入的商家号不存在");
				}
			}
        </script>
</body>
</html>