<html>
		<head>
        <meta>
        <title>兑换记录</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="/Public/css/public.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/base.css">
        <script src="/Public/js/jquery.min.js"></script>
		<body>
        <div class="appBody">
        <header class="pl15 pr15 pos-r"><p class="color-fff">我的商家号：cp131234</p><img src="images/logo.png" class=" pos-a logo-top-right"></header>
       <div class="main-new flex1" >
        <div>
        <dl>
        <dt class="pl15 pr15 pt10 pb10 clearfix">
        <p class="f28px lf">2017年03月29日</p>
        <a href="javascript:void(0)" class="color-red1 rf huizhong">汇总</a>
        </dt>
        <dd>
        <ul class="integral-record-list">
        <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
        <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
        <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
        </ul>
        </dd>
        </dl>
         <dl>
        <dt class="pl15 pr15 pt10 pb10 clearfix">
        <p class="f28px lf">2017年03月28日</p>
        <a href="javascript:void(0)" class="color-red1 rf huizhong">汇总</a>
        </dt>
        <dd>
        <ul class="integral-record-list">
        <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
        <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
        <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
         <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
         <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
         <li>
        <div>
        <span class="f28px">10元介贷网槟榔</span>
        <span class="rf">1包</span>
        </div>
        <div class="f24px">
        <span>16:30:32</span>
        <span class="rf">兑换单号：170327123456722</span>
        </div>
        </li>
        </ul>
        </dd>
        </dl>
        </div>
       </div>
        </div>
        <script>
        var huiz='<div class="webkit-box box-center alert z-index1000">'+
		    	'<div class="alert-select pos-r">'+
				'<div class="pl15 pr15 pt10 pb10"><ul class="f24px">'+
				'<li class="mb10"><span class="color-red1 f30px">兑换情况汇总</span><span class="rf f20px">2017年03月28日</span></li>'+
				'<li><span>10元介贷网槟榔</span><span class="rf"><em class="pr5">8</em>包</span></li><li><span>20元介贷网槟榔</span><span class="rf"><em class="pr5">28</em>包</span></li><li><span>30元介贷网槟榔</span><span class="rf"><em class="pr5">8</em>包</span></li>'+
				'</ul><div class="fz30px sure-btn bradius4" id="hz-sure">确定</div></div></div>'+
		 		'</div>'
				
				$(".huizhong").click(function(){
					$("body").append(huiz);
					$("#hz-sure").click(function(){
						$(".alert").remove();
						})
					})
        </script>
        
</body>
</html>