<!DOCTYPE html>
<html lang="en">
<head>
<title>介贷网后台管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/css/fullcalendar.css" />
<link rel="stylesheet" href="/Public/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/css/matrix-media.css" />
<link rel="stylesheet" href="/Public/css/uniform.css" />
<link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/css/jquery.gritter.css" />

</head>
<body>

<!--Header-part-->
<include file="Index:menu" />
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom">广告位设置</a><a href="/{$Think.MODULE_NAME}/Advertise/ad_content_list" class="current">广告内容</a></div>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">

   
   
	<div class="span11">
        <div class="form-group">
            <form method="post" action="/{$Think.MODULE_NAME}/Advertise/ad_content_list">

                <select style="width:150px;"  class="form-control" name="ad_list_id">
                    广告位筛选<option value="">请选择</option>
                    <foreach name="ad_list" item="vo">
                        <option value="{$vo.id}" <if condition="$vo.id eq $ad_list_id">selected='selected'"</if>>{$vo.name}</option>
                    </foreach>
                </select>&nbsp;&nbsp;&nbsp;

                &nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-success">查询</button>
                <a href="/{$Think.MODULE_NAME}/Advertise/ad_content_add" class="btn btn-success btn" style="float: right;">新增广告内容</a>

            </form>

        </div>
     <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>数据</h5>
            </div>
          <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th style="width:30px;">序号</th>
                  <th>标题</th>
                  <th>排序</th>
				  <th>跳转地址</th>
				  <th>操作</th>
                </tr>
              </thead>
              <tbody>

			 <volist name="ad_content_list" id="vs">
                <tr>
                  <td style="text-align:center;">{$i}</td>
				  <td style="text-align:center;">{$vs.title}</td>
				  <td style="text-align:center;">{$vs.sort}</td>
                  <td style="text-align:center;">{$vs.url}</td>
				  <td style="text-align:center;">
					<a href="/{$Think.MODULE_NAME}/Advertise/ad_content_edit/ad_content_id/{$vs.id}" class="btn btn-primary btn-mini">修改</a> |
					 <a href="/{$Think.MODULE_NAME}/Advertise/ad_content_del/ad_content_id/{$vs.id}" class="btn btn-danger btn-mini" onclick= "if(confirm('是否确定删除 {$vs.title}!')==false)return  false; ">删除</a>
				  	</if>
				  </td>	  
                </tr>
			</volist>
              </tbody>
            </table>
          </div>
        </div>
		  </div>
  
</div></div>
<!--end-main-container-part-->

<!--Footer-part-->
<include file="Index:foot" />
<!--end-Footer-part-->

<script src="/Public/js/jquery.min.js"></script> 
<script src="/Public/js/matrix.js"></script> 
</body>
</html>
