<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>问卷调查</title>
<link href="/Public/web/css/common.css" rel="stylesheet" type="text/css" />
<link href="/Public/web/css/style.css" rel="stylesheet" type="text/css" />
<script  type="text/JavaScript" src="/Public/web/js/jquery-1.11.1.min.js"></script>
<script  type="text/JavaScript" src="/Public/web/js/common.js"></script>
</head>

<body>
		<td>姓名</td>$question_score['user_name']
		<td>年龄</td>$question_score['age']
		<td>联系方式</td>$question_score['phone']
		<td>姓名</td>

</body>
</html>
