<!doctype html>
<html>
    <!-- 鎵爜缁撴灉椤? -->
        <head>
        <meta>
        <title>婀栧崡鐭ュ懗鍫?/title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="/Public/css/public2.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/base2.css">
        <script src="/Public/js/jquery.min2.js"></script>
        </head>

        <body>
           

         <script>
       var huiz='<div class="webkit-box box-center alert z-index1000">'+
                '<div class="alert-select pos-r pt10 pb10">'+
                '<div class="text-center pt20 pb20 color-red1 f30px">绉垎涓嶈冻鏃犳硶鍏戞崲</div>'+
                '<div class="fz30px sure-btn bradius4" id="hz-sure">纭畾</div></div></div>'+
                '</div>'
                
                //$(".duihuan-btn").click(function(){
                    $("body").append(huiz);
                   //$("#hz-sure").click(function(){
                      //  $(".alert").remove();
                    //    })
                    //})
        </script>
        </body>
        </html>