<!doctype html>
<html>
		<head>
        <meta>
        <title>宸叉壂鎻忚繃鐨勪簩缁寸爜</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="/Public/css/public2.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/base2.css">
        <script src="/Public/js/jquery.min2.js"></script>
		<body>
        <div class="appBody">
        <div class="main-new flex1" >
         <div class="ml15 mr15 mt30 f28px line-h50 pt40">
        <p>璇ョ爜宸茶鎵弿杩?/p>
        <p>璇烽€氳繃浠ヤ笅鏂瑰紡鑱旂郴瀹㈡湇锛?/p>
        <p>1銆佹嫧鎵撳厤璐规湇鍔＄儹绾匡細<tel>400 8837 997</tel></p>
        <p>2銆佽繘鍏ョ煡鍛冲爞鍏紬鍙风暀瑷€鎻愰棶</p>
        </div>
        </div>
			<div class="text-center pt10 pb10"><img src="/Public/images/logo.png" style="width:2.20rem"></div>
        </div>
       <!-- <div class="er-box pl15 pr15" style="display: block;">赂脙脡脤录脪潞脜脪脩卤禄陆没脫脙拢卢脟毛脕陋脧碌驴脥路镁陆芒陆没潞贸路陆驴脡陆酶脨脨露脪禄禄拢隆</div> -->
</body>
</html>