<!DOCTYPE html>
<html lang="en">
<head>
<title>客服系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/css/fullcalendar.css" />
<link rel="stylesheet" href="/Public/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/css/matrix-media.css" />
<link rel="stylesheet" href="/Public/css/uniform.css" />
<link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/css/jquery.gritter.css" />

</head>
<body>

<!--Header-part-->
<include file="Index:menu" />
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="javascript:;" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="/User/user_list" class="tip-bottom">用户列表</a> <a href="#" class="current">修改用户</a> </div>
  <!-- <h1>用户</h1> -->
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    
     <div class="span6">
      <div class="widget-box">
        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>修改用户</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="/Home/User/user_edit" method="post" class="form-horizontal" onsubmit="return check();">
            <input type="hidden" name="user_Id" value="{$data.user_Id}"/>
            <div class="control-group">
              <label class="control-label">用户名 :</label>
              <div class="controls">
                <input type="text" class="span11" readonly placeholder="请填写用户名" name="username" value="{$data.username}" id="username"/>
              </div>
            </div>
            
           <div class="control-group">
              <label class="control-label">真实姓名：</label>
              <div class="controls">
                <input type="text"  class="span11" placeholder="请填写真实姓名" name="real_name" id="real_name" value="{$data.real_name}"/>
              </div>
            </div>
            <!-- <div class="control-group">
              <label class="control-label">密码：</label>
              <div class="controls">
                <input type="password"  class="span11" placeholder="密码必须是8到20位的数字和字母" name="password" id="password" value=""/>
              </div>
            </div> -->

            <!-- 修改曾洋2017年6月7日20:30:25 -->
            <!--  -->
            <div class="control-group"  style="display:none;">
              <label class="control-label">所属组织：</label>
              <div class="controls">
               <select name="user_company"  id="user_company"  onchange="kefu(this);kefu2(this)" class="user_company">
                  <!-- <option value="0">请选择</option> -->
          <volist name="company" id="vo">
          <option  name="user_company" class="zz" data-zz="{$vo.company_id}"  value="{$vo.company_id}" <if condition="$vo.company_id eq $c_i_t">selected</if>>{$vo.company_name}</option>
          </volist>
         </select>
              </div>
            </div>

         <div class="control-group control-single" style="display:none;">
              <label class="control-label">所属角色：</label>
              <div class="controls">
        <volist name='role' id='v' > 
                <label>
                  <input type="radio" class="role"    data-kf=" {$v.role_position} " onclick=""  name="role_id"  value='{$v.role_Id}' <if condition="$v.role_Id eq $role_toto">checked</if> />
                  {$v.role_name}
                </label>
              </volist>    
              </div>
            </div>


      <div class="control-group control-role" style="display:none;" id= 'test'>     
              <label class="control-label">所属客服：</label>
                <div class="controls"> 
                   <select name="real_name_to" class="user_company" id='scdslect'>
                    <volist name="real_name_to" id="vo5"  >
                         <option value='{$vo5.user_Id}' <if condition="$vo5.user_Id eq $datay_ser_uid">selected</if>>{$vo5.real_name}</option>
                    </volist>
                   </select>
                </div>
            </div>

        <div class="control-group control-role" style="display:none;" id= 'test2'>     
              <label class="control-label">所属区域经理：</label>
                <div class="controls"> 
                   <select name="real_name_to2" class="user_company" id='scdslect2'>

                      <volist name="real_name_to2" id="vo1"  >
                         <option value="{$vo1.user_Id}" <if condition="$vo1.user_Id eq $manager_uid">selected</if>>{$vo1.real_name}</option>
                    </volist>
                      
                   </select>
                </div>
            </div>
            <!-- end修改曾洋2017年6月7日20:30:25 -->
            
            <div class="control-group">
              <label class="control-label">状态 :</label>
              <div class="controls">
           <label>
                  <input type="radio" name="is_use" value='0' <if condition="$data.is_use eq 0">checked</if>/>
                                                  禁用  
                 </label>
                <label>
                  <input type="radio" name="is_use" value='1' <if condition="$data.is_use eq 1">checked</if>/>
                    使用    
                  </label>
   
              </div>
            </div>
            
       <div class="control-group">
              <label class="control-label">手机号码:</label>
              <div class="controls">
              <input type="text" class="span2" style="width:200px;"  placeholder="请填写手机号码"  name="tel" id="tel" value="{$data.tel}"/>
        </div>
            </div>
          
            
            <div class="form-actions" style="margin:0 180px;">
              <button type="submit" class="btn btn-success">确认</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" onclick="history.back();">返回</button>
            </div>
            
          </form>
        </div>
      </div>
    
  
</div></div>

<!--end-main-container-part-->

<!--Footer-part-->
<include file="Index:foot" />
<!--end-Footer-part-->


<script src="/Public/js/jquery.min.js"></script> 
<script>
function check(){
  var real_name=$("#real_name").val();
  if(real_name==""){
    alert("请输入真实姓名");
    return false;
  }

 var tel=$("#tel").val();
  if(tel.match('^1[0-9]{10}$') != tel){
    alert("请输入正确的手机号码");
    return false;
  }

   var password=$("#password").val();
  if(password.match('^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$') != password){
    alert("密码必须是8到20位的数字和字母");
    return false;
  } 

return true;
}
</script>
<script>
$(document).ready(function(){
        var t1 =$('input:radio:checked').attr("data-kf");
        if( t1 ==3 ){
              $(".control-role").show();

            }else{
              $(".control-role").hide();
            }


});
</script>

</body>
</html>
