<html>
        <head>
        <meta>
        <title>绑定商家页面</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" type="text/css" href="/Public/css/public2.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/base2.css">
        <script src="/Public/js/jquery.min2.js"></script>
        </head>
        
        <body style="background:#a02329">
               
        </body>
</html>