<html lang="zh-cn">
<head>
<title>绑定商家页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta content="telephone=no" name="format-detection">
<style>
	
</style>
<script type="text/javascript">
	
	

</script>
</head>
<body>
	<form method="get" action="/Wxchat/Business/bind_business" enctype="multipart/form-data">
		<div style="width:100%;background:#eee">
			<input type="text" placeholder="请输入商家号" name="business_id">
			<br/><br/>
			<input type="button" value="确定" />
			<input type="button" value="取消" onclick="window.histroy.back(-1)"/>
		</div>

	</form>
</body>
</html>