<!DOCTYPE html>
<html lang="en">
<head>
    <title>后台管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/Public/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/Public/css/fullcalendar.css" />
    <link rel="stylesheet" href="/Public/css/matrix-style.css" />
    <link rel="stylesheet" href="/Public/css/matrix-media.css" />
    <link rel="stylesheet" href="/Public//css/uniform.css" />
    <link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Public/css/jquery.gritter.css" />
    <!-- <css href="/Public/Admin/Css/Admin-default.css" /> -->
    <!-- <css href="/Public/Admin/Plugins/ui-frame/ui.css" /> -->
    <css href="/Public/Admin/Css/Admin-default.css" />
    <css href="/Public/Admin/Plugins/animate/animate.min.css" />
    <css href="/Public/Admin/Plugins/rickshaw/rickshaw.css" />
    <css href="/Public/Admin/Plugins/nvd3/nv.d3.css" />
    <css href="/Public/Admin/Plugins/mcustomscrollbar/jquery.mCustomScrollbar.css" />
    <css href="/Public/Admin/Plugins/jquery/jquery-ui.min.css" />
    <css href="/Public/Admin/Plugins/fullcalendar/fullcalendar.css" />
    <css href="/Public/Admin/Plugins/fontawesome/font-awesome.min.css" />
    <css href="/Public/Admin/Plugins/dropzone/dropzone.css" />
    <css href="/Public/Admin/Plugins/bootstrap/bootstrap.min.css" />
    <css href="/Public/Admin/Plugins/animate/animate.min.css" />

    <style type="text/css">
        .table th,.table td {text-align:left}
    </style>

</head>
<body>

<!--Header-part-->
<include file="Index:menu" />
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom">菜单管理</a> <a href="#" class="current">菜单列表</a> </div>
    </div>

      
            <div id="org"></div> 


          

                  <form id="question-form" class="form-horizontal" action="/home/Question/edit/id/{$id}/questionnaire_id/{$questionnaire_id}" method="post">

                        <input type="hidden" name="questionnaire_id" value="{$questionnaire.id}">
                        <input type="hidden" id="questionnaire_type" value="{$questionnaire.type}">

                        <input type="hidden" name="id" value="{$question.id}">
                        
                        <div class="form-group">
                            <blockquote class="blockquote-warning">
                                <h3><strong>编辑问题</strong></h3>
                            </blockquote>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">问题名称</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <input name="name" type="text" class="form-control question-name" value="{$question.name}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">
                                问题选项
                            </label>
                            <div class="col-md-7 col-xs-12 option-list">
                                <volist name="optionsList" id="item">
                                    <switch name="item.type">
                                        <case  value="radio">
                                            <div class="option-item radio_option">
                                                <input name="-" type="radio" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
                                                <div>
                                                    <input type="text" value="{$item.text}" class="form-control" placeholder="请输入选项文本" />
                                                    <img class="option-del" src="/Public/img/btn-del.png" title="删除该选项">
                                                </div>
                                            </div>
                                        </case>

                                        <case  value="checkbox">
                                            <div class="option-item checkbox_option">
                                                <input type="checkbox" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
                                                <div>
                                                    <input type="text" value="{$item.text}" class="form-control" placeholder="请输入选项文本" />
                                                    <img class="option-del" src="/Public/img/btn-del.png" title="删除该选项">
                                                </div>
                                            </div>
                                        </case>

                                        <case  value="text">
                                            <div class="option-item text_option">
                                                <textarea class="form-control">{$standardList|unicodeDecode}</textarea>
                                                <img class="option-del" src="/Public/img/btn-del.png" title="删除该选项">
                                            </div>
                                        </case>

                                        <case  value="radio_othertext">
                                            <div class="option-item radio_othertext_option">
                                                <input name="-" type="radio" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
                                                <div>
                                                    <strong style="position: absolute;line-height: 25px;">其他：</strong>
                                                    <input style="margin-left:40px;opacity: <?php if($questionnaire['type']=='exam')echo '1';else echo '0.3'; ?>;" type="text" class="form-control" value="<?php if(isset($standardList[$i-1]))echo unicodeDecode($standardList[$i-1])  ?>" <?php if($questionnaire['type']!='exam')echo 'disabled'; ?> />
                                                    <img class="option-del" src="/Public/img/btn-del.png" title="删除该选项">
                                                </div>
                                            </div>
                                        </case>

                                        <case  value="checkbox_othertext">
                                            <div class="option-item checkbox_othertext_option">
                                                <input type="checkbox" <?php if(isset($standardList[$i-1]))echo 'checked' ?> />
                                                <div>
                                                    <strong style="position: absolute;line-height: 25px;">其他：</strong>
                                                    <input style="margin-left:40px;opacity: <?php if($questionnaire['type']=='exam')echo '1';else echo '0.3'; ?>;" type="text" class="form-control" value="<?php if(isset($standardList[$i-1]))echo unicodeDecode($standardList[$i-1])  ?>" <?php if($questionnaire['type']!='exam')echo 'disabled'; ?> />
                                                    <img class="option-del" src="/Public/img/btn-del.png" title="删除该选项">
                                                </div>
                                            </div>
                                        </case>
                                    </switch>
                                </volist>
                            </div>

                            <eq name="questionnaire.type" value="exam">
                                <input id="standard" name="standard" type="hidden"  value='{$question.standard}' />
                            </eq>
                            <input id="options" name="options" type="hidden" value='{$question.options}' />
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label"></label>
                            <div class="col-md-2 col-xs-12">                                            
                                <div class="btn-group">
                                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    添 加 选 项 
                                  </button>             
                                  <ul class="dropdown-menu alter-option-list" role="menu">
                                    <li><a type="radio" class="btn" href="#"> 单 选 项 </a></li>
                                    <li><a type="checkbox" class="btn" href="#"> 多 选 项 </a></li>
                                    <li><a type="text" class="btn" href="#"> 文 本 输 入 </a></li>
                                    <li><a type="radio_othertext" class="btn" href="#">单选其他 - 文本</a></li>
                                    <li><a type="checkbox_othertext" class="btn" href="#">多选其他 - 文本</a></li>
                                  </ul>
                                </div>
                            </div>
                            <present name="errorNote">
                                <div class="alert alert-danger" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <strong>{$errorNote}</strong>
                                </div>                        
                            </present>      
                        </div>

                        <div id="question-extendinfo">
                            <eq name="questionnaire.type" value="exam">
                                <div class="extend-row">
                                    <label>分数</label> <input name="score" type="text" class="form-control" value="{$question.score}" />
                                </div>
                            </eq>

                            <div class="extend-row">
                                <label>排序</label> <input name="sort" type="text" class="form-control" value="{$question.sort}" />
                            </div>

                            <div class="extend-row" style="background: none;">
                                <a id="submit" class="btn btn-info btn-block">提 交 问 题</a>
                            </div>
                        </div>

                    </form>



   
    <!--end-main-container-part-->

    <!--Footer-part-->
    <include file="Index:foot" />
    <!--end-Footer-part-->
    <script src="/Public/js/jquery.min.js"></script>
    <script src="/Public/js/client.js"></script>
    <script src="/Public/js/matrix.js"></script>
    <script src="/Public/js/timepicker/WdatePicker.js"></script>
    <script src="/Public/js/base.js"></script>
    <js href="/Public/Admin/Plugins/jquery/jquery-2.1.1.min.js" />
    <js href="/Public/Admin/Plugins/jquery/jquery-ui.js" />
    <js href="/Public/Admin/Plugins/bootstrap/bootstrap.js" />
    <js href="/Public/Admin/Plugins/datatables/jquery-dataTables.js" />
    <js href="/Public/Admin/Plugins/bootstrap/bootstrap-datepicker.js" />
    <js href="/Public/Admin/Plugins/bootstrap/bootstrap-select.js" />
    <js href="/Public/Admin/Plugins/ui-frame/plugins.js" />
    <js href="/Public/Admin/Plugins/ui-frame/actions.js" />
    <js href="/Public/Admin/Plugins/dropzone/dropzone.js" />
    <js href="/Public/Admin/Plugins/dropzone/dropzone.js" />
    <js href="/Public/js/questions-optionManager.js" />


    <script type="text/javascript">
function add1(){
    var input1 = document.createElement('input');
    input1.setAttribute('type', 'text');
    input1.setAttribute('name', 'organizers[]');
    input1.setAttribute('class', 'git');
    
    var btn1 = document.getElementById("org");
    btn1.insertBefore(input1,null);
}
</script>

</body>
</html>
